<h1>Gremien</h1>

<table>
	<thead>
		<tr>
			<th>Gremium</th>
			<th>Nächste Sitzung</th>
			<th>Letzte Sitzung</th>
		</tr>
	</thead>
	<% @gremia.each do |gremium| %>
	<tr>
		<td><%= gremium.name %> </td>
		<td><%= render_next_sitzung(gremium) %></td>
		<td><%= render_last_sitzung(gremium) %></td>
	</tr>
<% end %>
</table>